<%- include layout.ejs -%>
<link rel="stylesheet" href="/s/css/functions/chat.css">
<div class="animsition container-fluid">
  <div class="chat col-md-10 col-md-offset-1">
    <div class="block row">
      <div class="block-left block-content col-md-3">
        <ul>
          <li class="search"><input class="input"type="text" name="search" placeholder="Search"></li>
          <% for( var key in user.friends) { %>
          <li data-target="<%= key %>" class="friends" data-roomid="<%=user.friends[key].roomId %>">
            <div class="user"><%=user.friends[key].name%></div>
            <div class="first"></div>
          </li>
          <% } %>

        </ul>
      </div>      
      <div class="block-right block-content col-md-ff">
        <div class="row content default"></div>
        <div class="row msgEnter">
          <input class="input" title="paste your code" placeholder="Please choose the contact first..." name="message" autocomplete="off"/>
          <div class="functions">
            <span class="glyphicon glyphicon-th icon"></span>
            <div class="fmenu" id="fmenu">
              <span class="glyphicon glyphicon-folder-open"  id="pasteCode" title="paste your code"></span>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<script src="/s/js/socket.io.js"></script>
<script>
<% if ( !user  || !user._id) { %>
  document.location.href = "/login";
  <% } %>
  var ENV = "<%= env %>";
  var USER = "<%= user._id %>";
  var $SCROLL = $(".block-right .content");
  var siteUrl = "<%=serverInfo.IO%>";
  var SOCKET = io( siteUrl);
  var flashTitle = "";
  document.addEventListener('DOMContentLoaded', function () {
    if (Notification.permission !== "granted") {
      Notification.requestPermission();
    }
  });
</script>
<script src="/s/js/chat.js"></script>
<%- include footer.ejs -%>
