<%- include layout.ejs -%>
<link rel="stylesheet" href="/s/css/functions/chat.css">
<div class="animsition container-fluid">
  <div class="chat col-md-8 col-md-offset-2">
    <div class="block row">
      <div class="block-left block-content col-md-3">
        <ul>
          <li class="search"><input class="input"type="text" name="search" placeholder="Search"></li>
          <% for( var key in user.friends) { %>
          <li data-target="<%= key %>" class="friends">
            <div class="user"><%=user.friends[key].name%></div>
            <div class="first"></div>
          </li>
          <% } %>

        </ul>
      </div>      
      <div class="block-right block-content col-md-offset-3 col-md-8">
        <div class="row content">
          <ul>
          </ul>
        </div>        
        <div class="row msgEnter">
          <input class="input" placeholder="Please choose the contact first..." name="message" autocomplete="off" disabled/>
        </div>        
      </div>
    </div>
  </div>
</div>
<script src="/s/js/socket.io.js"></script>
<script>
var $SCROLL = $(".block-right .content");
var ENV = "<% if ( env === "production" ) { %>production<% } %>";
var USER = "<% if (user) { %><%= user._id %><% } %>";
if ( !USER) {
  location.href( "/login");
}
var SOCKET = io('<%=serverInfo.IO%>');
</script>
<script src="/s/js/chat.js"></script>
<%- include footer.ejs -%>
